* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #555252;
  font-family: "Manrope", sans-serif;
}

header {
  height: 120px;
  background-color: #555252;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo {
  color: white;
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
}

.burger {
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 42px;
  height: 2px;
  background-color: white;
  margin: 8px 0;
}

footer {
  height: 100px;
  background-color: #555252;
}

/* Burgermenu */

.menu_overlay {
  position: fixed;
  inset: 0;
  background: #f3f3f3;
  z-index: 999;
  display: none;
  padding: 80px 35px;
}

.menu_overlay.active {
  display: block;
}

.close_menu {
  position: absolute;
  top: 32px;
  right: 34px;

  background: none;
  border: none;
  font-size: 34px;
  cursor: pointer;
  color: #1b365d;
}

.menu_links {
  margin-top: 120px;
}

.menu_links a {
  display: block;
  text-align: right;

  font-family: "Cormorant Garamond", serif;
  font-size: 26px;
  letter-spacing: 13px;

  color: black;
  text-decoration: none;

  padding: 28px 0 18px;
  border-bottom: 1px solid black;
}

/* Desktop menu */

.desktop_nav {
  display: none;
}

@media (min-width: 800px) {
  .burger {
    display: none;
  }

  .desktop_nav {
    display: flex;
    position: absolute;
    top: 45px;
    right: 55px;
    gap: 55px;
    z-index: 10;
  }

  .desktop_nav a {
    color: white;
    text-decoration: none;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-weight: 600;
    font-size: 26px;
    transition: color 0.3s ease;
  }

  .desktop_nav a:hover {
    color: #e6ff00;
  }
}
