.tema_header {
  height: 210px;
  background-color: #555252;
  position: relative;
}

.tema_header .logo,
.tema_header .burger {
  position: absolute;
  top: 28px;
}

.tema_header .logo {
  left: 24px;
}

.tema_header .burger {
  right: 24px;
}

.tema_header h1 {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 34px;
  color: #e6ff00;
  white-space: nowrap;
}

.tema_side {
  background-color: #e8e4dc;
  padding: 25px 15px 70px;
}

.tema_side section {
  margin-bottom: 55px;
}

.tema_side h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

.tema_side p {
  font-size: 15px;
  line-height: 1.7;
}

.top_billede {
  width: 230px;
  display: block;
  margin: 35px auto 40px;
  border-radius: 12px;
}

.projekt_link {
  display: block;
  color: black;
  font-size: 15px;
  margin: 20px 0 35px;
}

.stort_billede,
.kode_billede {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.stort_billede {
  width: 100%;
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 8px;
}

.kode_billede {
  width: 100%;
  display: block;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 8px;
}

.forklaring_boks {
  width: 85%;
  margin: 0 auto 40px;
  padding: 22px;
  background-color: white;
  border-radius: 10px;
}

.forklaring_boks p {
  font-size: 10px;
  line-height: 1.6;
  margin: 0;
}
