.tema_header {
  height: 210px;
  background-color: #555252;
  position: relative;
}

.tema_header .logo,
.tema_header .burger {
  position: absolute;
  top: 28px;
}

.tema_header .logo {
  left: 24px;
}

.tema_header .burger {
  right: 24px;
}

.tema_header h1 {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 34px;
  color: #e6ff00;
  white-space: nowrap;
}

.tema_side {
  background-color: #e8e4dc;
  padding: 25px 15px 70px;
}

.tema_side section {
  margin-bottom: 55px;
}

.tema_side h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

.tema_side p {
  font-size: 15px;
  line-height: 1.7;
}

.billeder_to {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 35px;
}

.projekt_link {
  display: block;
  color: black;
  margin: 25px 0 40px;
  font-size: 15px;
}

.stort_billede {
  width: 100%;
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 40px;
}

.kode_billede {
  width: 100%;
  border-radius: 10px;
  display: block;
  margin-top: 30px;
}

.projekt_link {
  display: inline-block;

  padding: 7px 18px;

  background-color: #e6ff00;
  color: black;
  text-decoration: none;

  border-radius: 999px;

  font-size: 12px;

  margin: 18px 0 30px;
}

@media (min-width: 800px) {
  .tema_header {
    height: 320px;
  }

  .tema_header h1 {
    font-size: 75px;
    bottom: 50px;
  }

  .tema_side {
    padding: 60px 0 100px;
  }

  .tema_side section {
    max-width: 1200px;
    margin: 0 auto 90px;
    padding: 0 40px;
  }

  .tema_side h2 {
    font-size: 24px;
    margin-bottom: 35px;
  }

  .tema_side p {
    font-size: 18px;
    line-height: 1.9;
  }

  .projekt_link {
    font-size: 20px;
    margin: 35px 0 50px;
  }

  .stort_billede {
    max-width: 1000px;
    display: block;
    margin: 45px auto 60px;
  }

  .kode_billede {
    max-width: 850px;
    display: block;
    margin: 40px auto 0;
  }

  .billeder_to {
    gap: 25px;
    margin-top: 50px;
  }

  .projekt_link {
    display: inline-block;

    padding: 10px 26px;

    background-color: #e6ff00;
    color: black;
    text-decoration: none;

    border-radius: 999px;

    font-size: 16px;

    margin: 25px 0 50px;
  }
}
