.tema_header {
  height: 210px;
  background-color: #555252;
  position: relative;
}

.tema_header .logo {
  position: absolute;
  top: 28px;
  left: 24px;
}

.tema_header .burger {
  position: absolute;
  top: 22px;
  right: 24px;
}

.tema_header h1 {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 34px;
  color: #e6ff00;
  white-space: nowrap;
}

.tema_side {
  background-color: #e8e4dc;
  padding: 25px 15px 70px;
}

.tema_side section {
  margin-bottom: 55px;
}

.tema_side h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

.tema_side p {
  font-size: 15px;
  line-height: 1.7;
}

.top_billede {
  width: 230px;
  display: block;
  margin: 35px auto 40px;
  border-radius: 10px;
}

.projekt_link {
  display: block;
  color: black;
  font-size: 13px;
  margin-top: 20px;
}

.billede_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 35px;
  margin-bottom: 12px;
}

.billede_grid img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.stort_billede {
  width: 100%;
  display: block;
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 12px;
}

.proces_tekst {
  margin-top: 35px;
}

footer {
  height: 60px;
  background-color: #555252;
}

@media (min-width: 800px) {
  .tema_header {
    height: 320px;
  }

  .tema_header h1 {
    font-size: 75px;
    bottom: 50px;
  }

  .tema_side {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 40px 100px;
  }

  .tema_side section {
    margin-bottom: 90px;
  }

  .tema_side h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .tema_side p {
    font-size: 18px;
    line-height: 1.9;
  }

  .projekt_link {
    font-size: 18px;
    margin-top: 30px;
  }

  .top_billede {
    width: 420px;
    margin: 50px auto 70px;
  }

  .stort_billede {
    max-width: 950px;
    display: block;
    margin: 45px auto 20px;
  }

  .billede_grid {
    max-width: 950px;
    margin: 45px auto 20px;
    gap: 25px;
  }

  .billede_grid img {
    height: 300px;
  }

  .proces_tekst {
    margin-top: 50px;
  }
}
